@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,700;1,700&display=swap');
body {
  background-color: $lightGrey;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $darkBlue;
}

a {
  text-decoration: none;
}

button:active {
  transform: scale(0.98);
}

button:hover {
  background-color: $lightBlue;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: $darkGrey;

  h1 {
    font-family: Roboto, sans-serif;
    color: $darkBlue;
  }

  button {
    padding: 1rem;
    height: 3rem;
    outline: none;
    cursor:pointer;
    background-color: $darkBlue;
    color: $white;
    border-radius: 5px;
    border: 1px solid $darkBlue;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }
  
  
  ul {
    display: flex;
    list-style-type: none;
    li {
      margin-left: 1rem;
    }
  }
}

#listcreator, #listeditor, #list-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;

    label {
      font-size: .9rem;
      margin-top: 1rem;
    }

    input {
      border: 0;
      background-color: transparent;
      border-bottom: 2px $darkGrey solid;
      padding: 15px 0;
      color: #000;
      margin-top: .5rem;
      width: 40%;
      font-size: 1rem;
      text-align: center;
    }

    input:focus, input:valid {
      outline: 0;
    }

    #submit {
      margin-top: 1rem;
      width: 5rem;
      padding: .5rem .3rem .5rem .3rem;
      background-color: $darkBlue;
      color: $white;
      outline: none;
      cursor:pointer;
      border-radius: 5px;
      border: 1px solid $darkBlue;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    }

    button {
      margin-top: 1rem;
      width: 5rem;
      padding: .5rem .3rem .5rem .3rem;
      background-color: $darkBlue;
      color: $white;
      outline: none;
      cursor:pointer;
      border-radius: 5px;
      border: 1px solid $darkBlue;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    }
  }
}

#homepage, #pagenotfound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list-container {
  display: flex;
  flex-direction: column;
  margin-left: 40vw;
}

.listDisplay {

    .delete {
      width: 5rem;
      padding: .5rem .3rem .5rem .3rem;
      background-color: $lightGrey;
      color: $red;
      outline: none;
      cursor:pointer;
      border-radius: 5px;
      border: 1px solid $red;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    }

    .delete:active {
      transform: scale(0.98);
    }

    .delete:hover {
      background-color: $red;
      color: $white;
    }
  
    .edit {
      margin-left: 1rem;
      width: 5rem;
      padding: .5rem .3rem .5rem .3rem;
      background-color: $darkBlue;
      color: $white;
      outline: none;
      cursor:pointer;
      border-radius: 5px;
      border: 1px solid $darkBlue;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    }
    .edit:active {
      transform: scale(0.98);
    }
    .edit:hover {
      background-color: $lightBlue;
    }  
}

.loading, .error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;

  #addlistitem {
    background-color: $darkGrey;
    color: #000;
  }
}

#login, #signup {
  display: flex;
  flex-direction: column;
  align-items: center;

  label, input {
    margin-top: 1rem;
  }

  .btn {
    width: 5rem;
      padding: .5rem .3rem .5rem .3rem;
      background-color: $darkBlue;
      color: $white;
      outline: none;
      cursor:pointer;
      border-radius: 5px;
      border: 1px solid $darkBlue;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }
}

